.vscode/tasks.json
announce.exe
samp-npc.exe
samp-server.exe
pawno/libpawnc.dll
pawno/pawncc.exe
pawno/pawno.exe
pawno/PawnoX.exe
pawno/pawn.ico
pawno/new.pwn
pawno/libpawnc.dll
pawno/pawnc.dll
pawno/pawnox.ini
pawno/settings.ini
logs/errors.log
logs/warnings.log
logs/log-core.log
logs/plugins/mysql.log
td-actions-main.zip
server_log.txt